# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [5]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [7]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Step 3. Assign it to a variable called users.

In [15]:
user = pd.read_csv(url, delimiter='|')
user.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [20]:
mean_age= user.groupby('occupation').mean()[['age']]
mean_age.head()

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [43]:
male_ratio = user.pivot_table(index='occupation', columns='gender', aggfunc='size', fill_value=0)
sums = male_ratio[['F', 'M']].sum(axis=1)
male_ratio['MaleRatio'] = round(100 * male_ratio['M'] / sums , 1)
male_ratio['MaleRatio'].sort_values(ascending = False)

occupation
doctor           100.0
engineer          97.0
technician        96.3
retired           92.9
programmer        90.9
executive         90.6
scientist         90.3
entertainment     88.9
lawyer            83.3
salesman          75.0
educator          72.6
student           69.4
other             65.7
marketing         61.5
writer            57.8
none              55.6
administrator     54.4
artist            53.6
librarian         43.1
healthcare        31.2
homemaker         14.3
Name: MaleRatio, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [37]:

max_min=user.groupby('occupation').age.agg([np.min,np.max])
max_min.head()

               amin  amax
occupation
administrator    21    70
artist           19    48
doctor           28    64
educator         23    63
engineer         22    70

### Step 7. For each combination of occupation and gender, calculate the mean age

In [39]:
mean_occ_age=user.groupby(['occupation','gender']).age.mean()
mean_occ_age.head()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [57]:
male_female = user.pivot_table(index='occupation', columns='gender', aggfunc='size', fill_value=0)
sums = male_female[['F', 'M']].sum(axis=1)
male_female['MaleFemale_Percentage'] = round(200 * male_female['M'] / sums , 2)
male_female['MaleFemale_Percentage'].head()

occupation
administrator    108.86
artist           107.14
doctor           200.00
educator         145.26
engineer         194.03
Name: MaleFemale_Percentage, dtype: float64